@font-face {
    font-family: 'Helvetica';
    src: url('./layout/font/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./layout/font/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./layout/font/Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #333;
}

nav {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div-page {
    padding: 25px;
    background-color: rgb(127,255,212, 0.5);
    margin: 20px auto;
    border-radius: 12px;
    border: solid mediumaquamarine 2px;
    max-width: 600px;
    width: 80%;
}


.search-bar {
    float: right;
}

.search-bar input[type=text] {
    padding: 6px;
    font-size: 16px;
    border: solid 1px;
}

.search-bar button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
body {
    font-family: Helvetica, sans-serif;
}
.instructions {
    font-weight: bold;
    list-style-type: none;
    text-align: center;
}

.titre {
    text-align: center;
    color: white;
    text-shadow: 1px 5px 12px rgba(0, 0, 0, 0.9);


}

#bandeau {
    background-image: url("https://media.istockphoto.com/id/821084184/fr/photo/chatellerault-france.jpg?s=612x612&w=0&k=20&c=v2kloX7jH23Kq5HjFS_AkQIg_3j1fx-Nw--l-0nqqO8=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}