@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #e74c3c;
    --secondary-color: #b3b2b2;
    --accent-color: #b1b1b1;
    --font-color: #333333;
    --font-family: 'Nunito Sans', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: #f3f3f3;
    margin: 0;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

input[type="text"] {
    font-family: inherit;
    color: inherit;
}

main {
    max-width: 95vw;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    text-align: center;
    color: red;
    font-weight: bold;
}

/* Container*/
   .container {
       margin: 25px auto;
       max-width: 600px;
       padding: 20px;
       background-color: #f5f5f5;
       border-radius: 10px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   }

/*##/ Upload Form*/
   .upload-form {
       text-align: center;
   }

.upload-form h1 {
    margin-bottom: 20px;
}

.upload-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.upload-form input[type="file"],
.upload-form input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.upload-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Error/Success Messages*/
         .upload-form p {
             margin-top: 15px;
             padding: 10px;
             border-radius: 5px;
         }


.instructions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    overflow: hidden;
    height: 312px;
    background-color: #fff;
}

.instructions-image {
    height: 312px;
    overflow: hidden;
    order: 2;
}

.instructions-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.instructions-details {
    flex: 1;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
}

.instructions-details h2 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.instructions-details ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.instructions-details ol li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.instructions-details ol li::before {
    content: "►";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 1.5;
}

.prize-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    overflow: hidden;
    height: 312px;
    background-color: #fff;
}

.prize-image {
    height: 312px;
    overflow: hidden;
}

.prize-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prize-details {
    flex: 1;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prize-details h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.prize-details ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.prize-details ol li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.prize-details ol li::before {
    content: "►";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 1.5;
}

.vote-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    max-width: 600px;
}

.photo-container img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.photo-container p {
    margin: 0;
    font-size: 16px;
}

h1, h2, h3 {
    color: var(--primary-color);
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

ol li::before {
    content: "►";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 1.5;
}

nav {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
    border-radius: 15px;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.title-icon {
    flex: 0 1 auto;
    margin-left: 25px;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: font-weight 0.4s ease;
}

nav ul li a:hover, nav ul li a:focus {
    font-weight: bold;
    text-underline-offset: 5px;
}



.search-bar {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.search-text{
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 5px;
    transition: border-bottom 0.1s ease-in-out;

}

.search-text:focus {
    border-bottom: 1px solid var(--font-color);
}



.photo-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-bottom: 40px;
}

.gallery {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery:hover {
    transform: scale(1.05);
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery .desc {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery:hover .desc {
    opacity: 1;
}

.select-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    transform: scale(1.5);
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 25vw;
    margin: auto;

}

fieldset table {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    width: 25vw;

}

fieldset table td {
    padding: 5px 10px;
}



#hero {
    background-image: url('https://iutp.univ-poitiers.fr/wp-content/uploads/sites/100/2019/04/xIMG_0475copie.jpg.pagespeed.ic.W-nrcamBHR.webp');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    border-radius: 9px;
}


#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}



#hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#hero a {
    display: inline-block;
    background-color: var(--accent-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#hero a:hover {
    background-color: var(--secondary-color);
}

#welcome {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 2rem;
    padding: 4rem;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#welcome-text {
    grid-column: 1 / 2;
}

#welcome-text h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #333;
}

#welcome-text ol {
    list-style-type: none;
    text-align: justify;
    margin-left: 1.5rem;
    line-height: 1.6;
    color: #555;
}

#welcome-text li {
    margin-bottom: 1rem;
}

.attention-span {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #e74c3c;
    text-align: center;
}

.part-btn-container {
    grid-column: 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.participate-btn {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.participate-btn:hover {
    background-color: #c0392b;
}


#contact {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
}

#contact p {
    margin: 0;
    font-size: 0.9rem;
}

#contact .contact-links {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#contact a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 5px;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: var(--accent-color);
}
footer {
    background-color: white;
    color: #000000;
    padding: 20px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img {
    max-height: 40px;
    margin: 0 10px;
}

.footer-text {
    color: rgba(0, 0, 0, 0.7);
    margin: 10px 0;
}

.footer-text a {
    color: #171616;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}
/* Accessibility */
input[type="text"]
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="text"]::placeholder {
    font-family: inherit;
    color: var(--font-color);
    opacity: 0.7;
    opacity: 0.7;
}

/* Accessibility */
input[type="text"]:-ms-input-placeholder {
    font-family: inherit;
    color: var(--font-color) !important;
}

/* Accessibility */
input[type="text"]::-ms-input-placeholder {
    font-family: inherit;
    color: var(--font-color)  !important;
}

/* Accessibility */
button {
    font-family: inherit;
    color: inherit;
}

/* Accessibility */
button:focus {
    outline: none;
}

/* Accessibility */
input[type="text"]:focus {
    outline: none;
}

/* Accessibility */
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
    -webkit-text-fill-color: var(--font-color);
    -webkit-text-fill-color: var(--font-color);
}

/* Accessibility */
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: var(--font-color);
}

/* Accessibility */
input[type="text"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: var(--font-color);
}

/* Accessibility */
input[type="text"]:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--font-color) !important;
}

/* Accessibility */
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: var(--font-color) !important;
}